[submodule "pack/submodules/start/vim-sensible"]
	path = pack/submodules/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/submodules/start/vim-vinegar"]
	path = pack/submodules/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/submodules/start/coc.nvim"]
	path = pack/submodules/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/submodules/start/vim-airline"]
	path = pack/submodules/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/submodules/start/vim-airline-themes"]
	path = pack/submodules/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/submodules/start/tabular"]
	path = pack/submodules/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/submodules/start/vim-multiple-cursors"]
	path = pack/submodules/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "pack/submodules/start/vim-fugitive"]
	path = pack/submodules/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/submodules/start/vim-surround"]
	path = pack/submodules/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/submodules/start/vim-unimpaired"]
	path = pack/submodules/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/submodules/start/vim-repeat"]
	path = pack/submodules/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/submodules/start/gundo.vim"]
	path = pack/submodules/start/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "pack/submodules/start/ack.vim"]
	path = pack/submodules/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "pack/submodules/start/tender.vim"]
	path = pack/submodules/start/tender.vim
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/submodules/start/vim-polyglot"]
	path = pack/submodules/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/submodules/start/vim-markdown"]
	path = pack/submodules/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "pack/submodules/start/vim-tsx"]
	path = pack/submodules/start/vim-tsx
	url = https://github.com/ianks/vim-tsx
[submodule "pack/submodules/start/vim-node"]
	path = pack/submodules/start/vim-node
	url = https://github.com/moll/vim-node
[submodule "pack/submodules/start/vim-rest-console"]
	path = pack/submodules/start/vim-rest-console
	url = https://github.com/diepm/vim-rest-console
[submodule "pack/submodules/start/vim-ragtag"]
	path = pack/submodules/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "pack/submodules/start/vim-prettier"]
	path = pack/submodules/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "pack/submodules/start/vim-devicons"]
	path = pack/submodules/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/submodules/start/vim-colors-solarized"]
	path = pack/submodules/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "pack/submodules/start/awesome-vim-colorschemes"]
	path = pack/submodules/start/awesome-vim-colorschemes
	url = git@github.com:rafi/awesome-vim-colorschemes.git
[submodule "pack/submodules/start/vim-colors-pencil"]
	path = pack/submodules/start/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "pack/submodules/start/vim-colors-off"]
	path = pack/submodules/start/vim-colors-off
	url = git@github.com:pbrisbin/vim-colors-off.git
[submodule "pack/submodules/start/okaidia"]
	path = pack/submodules/start/okaidia
	url = git@github.com:lawrence-yu/okaidia.git
[submodule "pack/submodules/start/vim-abolish"]
	path = pack/submodules/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "pack/submodules/start/vim-signify"]
	path = pack/submodules/start/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "pack/submodules/start/vim-rhubarb"]
	path = pack/submodules/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/submodules/start/onehalf"]
	path = pack/submodules/start/onehalf
	url = git@github.com:sonph/onehalf.git
